<%= form_with(model: language, local: true) do |form| %>
  <% if language.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(language.errors.count, "error") %> prohibited this language from being saved:</h2>

      <ul>
      <% language.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nombre %>
    <%= form.text_field :nombre %>
  </div>

  <div class="field">
    <p>Jugador que habla el idioma</p>
    <%= form.label :player %>
    <%=form.collection_select( :player , Player.all, :id, :nombre)%>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
